.project-container {
  background-image: url("../../assets/images/polygon_black1.svg");
  background-size: cover;
  scroll-behavior: smooth;
  min-height: 100vh;
}

/* --- Project Marquee --- */

.marquee-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-wrapper {
  display: flex;
  flex-direction: row;
  position: inline-block;
  transform: translateZ(0);
  animation: marquee 30s linear infinite;
}

.marquee-title {
  font-size: clamp(1.5rem, 9vw, 10rem);
  color: var(--color-black);
  background-color: var(--color-creme);
  padding: 1rem 3rem;
}

/* --- Cards --- */

.card-project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  padding: 5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
  animation: fadeIn 1s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% entry 150%;
  transition: transform 0.2s ease;
}

.card-project-item:hover {
  transform: scale(1.1);
}

.card-project-item:active {
  transform: scale(1);
}

.card-project-title {
  color: var(--color-creme);
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 5rem);
  transition: transform 0.3s ease-out;
}

.card-project-title:hover {
  transform: scale(1.1);
}

.card-project-title:active {
  transform: scale(0.9);
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.title-link {
  color: var(--color-creme);
  text-decoration: none;
}

.card-image {
  width: 100%;
  max-width: 35rem;
  height: auto;
  cursor: pointer;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-project-description {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-creme);
  width: 20rem;
  font-size: clamp(1rem, 1vw, 3rem);
}

@media screen and (max-width: 500px) {
  /* --- Card Projects --- */
  .card-project-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem;
  }

  .card-project-item {
    padding-bottom: 1rem;
    max-width: 100%;
  }
  .card-project-title {
    font-size: clamp(2rem, 4vw, 5rem);
  }

  .card-image-container {
    max-width: 100%;
  }

  .description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-project-description {
    width: 100%;
    text-align: center;
  }

  .main-logos-container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-right: 3rem;
  }
}
