.skills-container {
  background-color: var(--color-black);
  max-width: 100%;
}

.marquee-skills-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-skills-wrapper {
  display: flex;
  flex-direction: row;
  position: inline-block;
  transform: translateZ(0);
  animation: marquee 60s linear infinite;
}

.marquee-skills-title {
  font-size: clamp(1.5rem, 9vw, 5rem);
  color: var(--color-black);
  background-color: var(--color-creme);
  padding: 1rem 3rem;
  white-space: nowrap;
}

.skills-section-container {
  display: grid;
  align-items: center;
}

.skills-section-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  justify-items: center;
  padding: 2rem 4rem;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.skills-div {
  max-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: heartbeat 1s infinite;
}

.skills-img {
  width: 3rem;
  margin: 1rem;
}

.skills-text {
  color: var(--color-creme);
  text-align: center;
  margin: 1rem;
}

@media screen and (max-width: 500px) {
  .skills-section-wrapper {
    padding: 2rem 2rem;
  }
}
