.header-container {
  background-image: url('../../assets/images/background_azahar.png');
  background-size: cover;
  transform: translateZ(-1px) scale(1);
  z-index: -1;
}

.black_wall {
  min-height: 100vh;
  background-color: var(--color-black);
  max-width: 70%;
  filter: drop-shadow(5px 5px 20px var(--color-black));
}

/* --- Navbar --- */
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 0rem;
  z-index: 100;
}

.logo {
  min-width: 7rem;
  max-width: 7rem;
  padding-left: 1rem;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.navbar-link {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  color: var(--color-orange);
  font-weight: 800;
}

.navbar-link:hover {
  transition: transform 0.1s ease-out;
  transform: scale(1.1);
}

.navbar-link:active {
  transform: scale(0.95);
}

.navbar-link:active {
  color: none;
}

.link-title {
  color: var(--color-orange);
  line-height: 4rem;
  padding: 2rem;
  text-shadow: 5px 5px 15px rgb(77, 38, 9);
}

.link-title:hover {
  color: var(--color-creme);
}

/* --- Main --- */

.main-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5rem 0rem 0rem 1rem;
}

.main-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

.main-logo {
  width: 2.5rem;
  margin: 1rem 0rem 0rem 3rem;
  background: transparent;
  border: none;
  transition: transform 0.1s ease;
}

.main-logo:hover {
  transform: scale(1.1);
}

.main-logo:active {
  transform: scale(0.95);
}

.main-title {
  display: inline-block;
  flex-direction: column;
  margin-left: 3rem;
  color: var(--color-white);
  max-width: 50rem;
}

.main-name {
  position: relative;
  text-align: start;
  flex-wrap: wrap;
  background-size: cover;
  background-clip: text;
  font-size: clamp(2rem, 11vw, 10rem);
  color: transparent;
  background-image: url('../../assets/images/background_azahar.png');
}

@keyframes type {
  0% {
    width: 0;
  }
  73% {
    width: 26ch;
  }
  100% {
    width: 26ch;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-orange);
  }
  to {
    border-color: transparent;
  }
}

.main-profession {
  font-size: clamp(0.5rem, 2.5vw, 3rem);
  color: var(--color-white);
  margin-bottom: 3rem;
  letter-spacing: 0.1em;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  white-space: nowrap;

  animation: type 6s steps(44) 1s infinite, blink 0.5s steps(1) infinite;
}

.main-container-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-button {
  border: none;
  border-radius: 15px;
  padding: 0.3rem 4rem;
  max-width: auto;
  font-weight: 800;
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  background-color: var(--color-orange);
  transition: transform 0.1s ease;
}

.main-button:hover {
  transform: scale(1.1);
}

.main-button:active {
  transform: scale(0.95);
}

/* --- Arrow Scroll Down --- */

.arrow-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow-container:hover {
  animation: moveDown 1s ease-out infinite;
}

.arrow-text {
  color: var(--color-creme);
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  text-align: center;
  padding: 0.5rem;
}

.arrow-img {
  width: 2.5rem;
}

@media screen and (max-width: 1100px) {
  .main-name {
    font-size: clamp(6rem, 9vw, 7rem);
  }
}

@media screen and (max-width: 800px) {
  .navbar-container {
    display: none;
  }
  .main-logos {
    margin-bottom: 3rem;
  }

  .main-logo {
    width: 2rem;
  }

  .main-name {
    font-size: clamp(5rem, 7vw, 8rem);
  }
}

@media screen and (max-width: 500px) {
  .header-container {
    min-height: 100vh;
  }

  .black_wall {
    max-width: 100%;
    min-height: 70vh;
  }

  .main-container {
    padding: 10rem 0rem 0rem 1rem;
  }

  .main-title {
    margin-left: 1rem;
    white-space: wrap;
  }

  .main-logos {
    margin-bottom: 0rem;
  }

  .main-logo {
    width: 1.7rem;
    margin: 0rem 0.8rem 1rem;
  }

  .main-name {
    font-size: clamp(4rem, 5vw, 6rem);
  }

  .main-profession {
    font-size: clamp(0.9rem, 1vw, 1.5rem);
    margin-bottom: 1rem;
  }

  .main-button {
    font-size: clamp(0.7rem, 4vw, 1rem);
    margin: 1rem;
  }
}
