.footer {
  position: relative;
  /* min-height: 50vh; */
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/background_azahar.png");
  background-size: cover;
  filter: brightness(50%);
  z-index: -1;
}

/* --- Footer Logos --- */

.footer-logos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-wrapper {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0rem;
  background-color: var(--color-black);
}

.footer-logo {
  width: 2.5rem;
  background: transparent;
  border: none;
  margin: 0rem 2rem 1.5rem;
  transition: transform 0.1s ease;
}

.footer-logo:hover {
  transform: scale(1.1);
}

.footer-logo:active {
  transform: scale(1);
}

.footer-link-title {
  background-color: var(--color-black);
  color: var(--color-creme);
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}

.footer-logo-link {
  color: var(--color-orange);
}

@media screen and (max-width: 500px) {
  .footer-logo {
    width: 2.2rem;
    margin: 0rem 1rem 1.5rem;
  }
}

/* --- Let's Chat --- */

/* .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50rem;
  padding: 3rem;
  margin: 6rem;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 24px;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: clamp(1.5rem, 4vw, 5rem);
  color: var(--color-black);
  margin-bottom: 2rem;
  animation: heartbeat 1s infinite;
}

.form-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.name,
.email {
  display: block;
  width: 100%;
  height: 3rem;
  border: none;
  border-bottom: 1px solid var(--color-orange);
  background: transparent;
  outline: none;
}

.name {
  margin-right: 2rem;
}

.message {
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid var(--color-orange);
  background: transparent;
  resize: none;
  overflow: hidden;
  outline: none;
}

.footer-button {
  border: none;
  border-radius: 15px;
  padding: 0.3rem 4rem;
  max-width: auto;
  font-weight: 800;
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  background-color: var(--color-orange);
  transition: transform 0.1s ease;
}

.footer-button:hover {
  transform: scale(1.1);
}

.footer-button:active {
  transform: scale(1);
} */
